:root{
    --nav_size: 40px;
    --bottom-size: 124px;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    text-shadow: 0px 0px 3px #000;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

::selection{
    background: #3f51b5;
}

::-moz-selection{
    background: #3f51b5;
}

html, body{
    color: #eee;
    font-family: Tahoma, Verdana, sans-serif;
    width: 100vw;
    background-color: #000f32;
    overflow: hidden;
}

bg{
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center 35%;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.2;
}

#content{
    position: relative;
    width: 100vw;
    height: 100vh;
}

#hero{
    width: 100vw;
    height: calc(100% - var(--bottom-size) - var(--nav_size));
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#hero img{
    height: 100%;
    filter: drop-shadow(2px 4px 6px #000);
}

#description{
    position: absolute;
    margin: 20px;
    font-family: fantasy;
    bottom: 0px;
    left: 0px;
    max-width: 400px;
}

#hero_name{
    font-size: 100px;
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
}

#hero_description{
    font-size: 100%;
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
}

#hero_select{
    height: 124px;
    display: flex;
    justify-content: flex-end;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    box-shadow: 0px 0px 20px 5px rgb(0 0 0 / 50%);
    padding: 10px;
}

#hero_select img{
    margin: 0px 4px;
    filter: drop-shadow(0px 0px 2px #000) brightness(0.3);
    cursor: pointer;
}

#hero_select img:hover, .hero_selected{
    filter: drop-shadow(0px 0px 2px #000) brightness(1) !important;
    transform: scale(1.05);
    transition: all 250ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

#navbar{
    width: 100%;
    height: 50px;
    background-color: rgb(3 169 244 / 30%);
    box-shadow: 0px 0px 20px 5px rgb(0 0 0 / 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    min-width: 140px;
    height: 40px;
    background-color: #F005;
    border-radius: 6px;
    border: 1px solid #d4c09a;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-image: linear-gradient(#1f6a84 0%,#1f6a84 50%, #196079 51%, #196079 100%);
    box-shadow: 0px 0px 1px 1px #000;
    cursor: pointer;
}

.button:hover{
    filter: brightness(1.2);
}

.button p{
    position: relative;
    z-index: 20;
    font-weight: bold;
    text-shadow: 0px 0px 5px #000;
    margin: auto;
    padding: 0px 20px;
    pointer-events: none;
}

.button::before{
    content: "";
    background-image: url(./images/button_extra.png);
    background-repeat: no-repeat;
    width: 165px;
    height: 164px;
    left: -85px;
    position: absolute;
    transform: scale(0.5);
}

.button::after{
    content: "";
    background-image: url(./images/button_extra.png);
    background-repeat: no-repeat;
    width: 165px;
    height: 164px;
    transform: scaleX(-1);
    position: absolute;
    right: -85px;
    transform: scale(-0.5, 0.5);
}

#bottom{
    position: absolute;
    width: 100%;
    height: 180px;
    bottom: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.animate{
    animation: show_hero 250ms linear forwards;
}

@keyframes show_hero{
    0%   {filter: opacity(0) drop-shadow(2px 4px 6px #000); transform: scale(0.9)}
    100% {filter: opacity(1) drop-shadow(2px 4px 6px #000); transform: scale(1)}
}