#buff-menu{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

#buff-list{
    max-width: 800px;
}

#buff-list-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.buff{
    width: 800px;
    height: 200px;
    background-color: #24344d;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid #FFFA;
    box-shadow: 0px 0px 2px 1px #000;
    display: flex;
}

.buff img{
    width: 170px;
    height: 170px;
}

#buff-info-wrapper{
    width: 100%;
    padding: 5px 10px;
}

.buff-image-wrapper{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.buff-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 10px;
    padding: 10px 0px;
    border-bottom: 2px solid #FFF5;
    margin-bottom: auto;
}

.buff-info{
    padding: 10px 0px;
}

#character-select{
    width: 200px;
    height: 50px;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px #222a;
    background-color: #2c5680;
    color: #FFF;
    margin: 20px 0px;
    margin-left: 10px;
    border: 1px solid #2225;
    border-radius: 8px;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid #FFFA;
    box-shadow: 0px 0px 6px 1px #000;
}

select:hover, option:hover{
    cursor: url("../images/cursor.png"), auto;
}

@media screen and (max-width: 600px){

    .buff{
        max-width: 98vw;
        min-height: 200px;
        height: unset;
    }

    .buff img{
        width: 120px;
        height: 120px;
    }

    .buff-header{
        flex-direction: column;
    }

}